.spinnerMessage {
    color: #000000;
    display: inline-block;
    padding: 6px 10px;
    float: left;
}

#spinner {
    animation: animateSpinner 3s linear infinite;
    float: left;
}

@keyframes animateSpinner {
    100% {transform: rotate(360deg); transform-origin: center;}
}